<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MilkTeaHouseManagement.Properties.Settings.MilkTeaHouseManagementSystemConnectionString"
            connectionString="Data Source=DESKTOP-IAPHA3D\SQLEXPRESS;Initial Catalog=MilkTeaHouseManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MilkTeaHouseManagement.Properties.Settings.MilkTeaHouseManagementConnectionString"
            connectionString="Data Source=DESKTOP-IAPHA3D\SQLEXPRESS;Initial Catalog=MilkTeaHouseManagement;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>